<template>
  <main>
    <b-card no-body>
      <b-card-header header-tag="nav">
        <b-nav card-header tabs fill>
          <b-nav-item variant="info" to="/signin" exact-active-class="active"
            >Sign In</b-nav-item
          >
          <b-nav-item to="/register" exact-active-class="active"
            >Register</b-nav-item
          >
        </b-nav>
      </b-card-header>

      <b-card-body class="p-5 h-50">
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </main>
</template>
