<template>
  <main>
    <div v-if="list">
      <b-alert
        dismissible
        variant="info"
        :show="showMockDataAlert"
        @dismissed="showMockDataAlert = false">
        Using mocked data, trouble connecting to api
      </b-alert>
      <h1>{{ this.list.name }}</h1>
      <p>{{ this.list.identity }}</p>
      <div class="row">
        <div class="col-lg-6">
          <small class="text-muted">Status</small><br>
          <h4>{{ this.list.status }}</h4>
        </div>
        <div class="col-lg-6">
          <small class="text-muted">Orders</small><br>
          <h4>{{ this.list.orders_completed }} Completed</h4>
        </div>
      </div>
      <b-row>
        <b-col>
          <h3 class="mb-3">Your Orders</h3>
          <orders-list :orders="this.list.orders_ongoing" />
        </b-col>
        <b-col>
          <h3 class="mb-3">Available Orders</h3>
          <orders-list :orders="this.list.orders_available" />
        </b-col>
      </b-row>
    </div>
    <div v-else>Loading...</div>
  </main>
</template>

<script>
import OrdersList from "@/components/OrdersList.vue";

export default {
  components: {
    OrdersList
  },
  data() {
    return {
      list: null,
      showMockDataAlert: false
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      const realApi = `https://dispatch.eotl.supply/api/`;
      const mockApi = `http://localhost:8080/mock-data/`;
      const param = "list.json";
      let api = mockApi;
      if ((api = mockApi)) {
        this.showMockDataAlert = true;
      }

      fetch(`${api}${param}`)
        .then(response => response.json())
        .then(response => (this.list = response))
        .catch(error => {
          console.error("Fetch Error:", error);
        });
    }
  }
};
</script>
