<template>
  <main>
    <h1>Suppliers</h1>
    <p>List of suppliers available in your zones</p>
    <suppliers-list-details :suppliers="this.suppliers" />
  </main>
</template>

<script>
import SuppliersListDetails from "@/components/SuppliersListDetails.vue";

export default {
  components: {
    SuppliersListDetails
  },
  data() {
    return {
      suppliers: null,
      showMockDataAlert: false
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      const realApi = `https://dispatch.eotl.supply/api/`;
      const mockApi = `http://localhost:8080/mock-data/`;
      const param = "suppliers.json";
      let api = mockApi;
      if ((api = mockApi)) {
        this.showMockDataAlert = true;
      }

      fetch(`${api}${param}`)
        .then(response => response.json())
        .then(response => (this.suppliers = response))
        .catch(error => {
          console.error("Fetch Error:", error);
        });
    }
  }
};
</script>
