<template>
  <b-form-select v-model="selected" :options="statuses" />
</template>

<script>
export default {
  props: ["selected"],
  data() {
    return {
      statuses: [
        "ordered",
        "packed",
        "damaged",
        "delivered",
        { value: "out-of-stock", text: "out of stock" }
      ]
    };
  }
};
</script>
