<template>
  <b-table hover responsive :items="items" :fields="fields">
    <template v-slot:cell(status)="data">
      <item-status :selected="data.item.status" />
    </template>
  </b-table>
</template>

<script>
import ItemStatus from "@/components/ItemStatus.vue";

export default {
  props: ["items"],
  components: { ItemStatus }
  // don't need data here unless we want special formatting of table
  // data() {
  //   return {
  //     fields: [
  //       { key: "supplier", sortable: true },
  //       { key: "item", sortable: true },
  //       { key: "size" },
  //       { key: "quantity" },
  //       { key: "cost" },
  //       { key: "status", sortable: true }
  //     ]
  //   };
  // }
  // methods: {
  //   onSubmit(event) {
  //     event.preventDefault();
  //     alert(JSON.stringify(this.form));
  //   }
  // }
};
</script>
