<template>
  <b-list-group>
    <b-list-group-item
      v-for="(order, index) in orders"
      :key="index"
      :to="{ name: 'Order', params: { orderId: order } }"
    >
      {{ order }}
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  props: ["orders"],
};
</script>
