<template>
  <div v-if="order">
    <b-alert
      dismissible
      fade
      variant="info"
      :show="showMockDataAlert"
      @dismissed="showMockDataAlert = false">
      Using mock data, trouble connecting to api
    </b-alert>
    <div class="row mb-3">
      <div class="col-lg-6">
        <h4># {{ this.order.order_id }}</h4>
      </div>
      <div class="col-lg-6">
        <h4>{{ this.order.status }}</h4>
      </div>
    </div>
    <p>
      <small class="text-muted">Note</small><br/>
      {{ this.order.note }}
    </p>
    <div class="row mb-5">
      <div class="col-sm-12 col-lg-6">
        <small class="text-muted">Pickup</small><br/>
        {{ this.order.pickup }}
      </div>
      <div class="col-sm-12 col-lg-6">
        <small class="text-muted">Destination</small><br/>
        {{ this.order.destination }}
      </div>
    </div>
    <h3>Suppliers</h3>
    <suppliers-list :suppliers="this.order.suppliers" />
    <h3>Collection List</h3>
    <items-table :items="this.order.items" />
  </div>
  <div v-else>Loading...</div>
</template>

<script>
import ItemsTable from "@/components/ItemsTable.vue";
import SuppliersList from "@/components/SuppliersList.vue";

export default {
  components: {
    SuppliersList,
    ItemsTable
  },
  data() {
    return {
      order: null,
      showMockDataAlert: false
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      // const realApi = "https://dispatch.eotl.supply/api/order/";
      const mockApi = "http://localhost:8080/mock-data/order/";

      // const realParam = "${this.$route.params.orderId}.json";
      const mockParam = "order.json";

      let api = mockApi;
      const param = mockParam;
      if ((api = mockApi)) {
        this.showMockDataAlert = true;
      }

      fetch(`${api}${param}`)
        .then(response => response.json())
        .then(response => (this.order = response))
        .catch(error => {
          console.error("Fetch Error:", error);
        });
    }
  }
};
</script>
