<template>
  <b-form inline>
    <label class="sr-only" for="form-input-name">Name</label>
    <b-input
      id="form-input-name"
      class="mb-2 mr-sm-2 mb-sm-0"
      placeholder="Jane Doe"
    ></b-input>

    <label class="sr-only" for="form-input-invite-token">Invite Token</label>
    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
      <b-input
        id="form-input-invite-token"
        placeholder="Invite Token"
      ></b-input>
    </b-input-group>

    <b-button :to="{ name: 'Orders' }">Register</b-button>
  </b-form>
</template>
