<template>
  <b-form inline>
    <label class="sr-only" for="form-input-account-key">Account Key</label>
    <b-input
      id="form-input-account-key"
      class="mb-2 mr-sm-2 mb-sm-0"
      placeholder="Account Key"
    ></b-input>
    <b-button :to="{ name: 'Orders' }">Sign In</b-button>
  </b-form>
</template>
