<template>
  <b-list-group class="mb-5">
    <b-list-group-item
      variant="primary"
      v-for="(supplierId, index) in suppliers"
      :key="index"
      :to="{ name: 'Supplier', params: { supplierId: supplierId } }">
      <img src="">
      {{ supplierId }}
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  //suppliers is an array of supplier Ids
  props: ["suppliers"]
};
</script>
