<template>
  <main v-if="supplierInfo">
    <h1>{{ supplierInfo.name }}</h1>
    <p v-if="supplierInfo.description">{{ supplierInfo.description }}</p>
    <p>
        <small class="text-muted">Address</small><br>
        {{ supplierInfo.street }} {{ supplierInfo.building }}<br>
        {{ supplierInfo.city }}, {{ supplierInfo.postalCode }}<br>
    </p>
    <p class="text-secondary text-uppercase">
        <small class="text-muted">Zone</small><br>
        {{ supplierInfo.zoneId }}
    </p>
    <a class="btn btn-primary" v-bind:href="'https://www.openstreetmap.org/#map=18/' + supplierInfo.latitude + '/' + supplierInfo.longitude">
        View On Map
    </a>
    <a class="btn btn-primary" v-bind:href="/order/">
        Back To Order
    </a>
    <hr>
    <h4>Supplier JSON</h4>
    <pre>{{ this.supplierInfo }}</pre>
  </main>
  <main v-else>
    <samp>Loading...</samp>
  </main>
</template>

<script>
export default {
  props: {
    supplierId: {
      type: String,
      default: "ber-ou-1",
      required: true,
    },
  },
  data() {
    return {
      allSuppliers: [],
    };
  },
  created() {
    this.fetchAllSuppliers();
  },
  watch: {
    $route: "fetchAllSuppliers",
  },
  methods: {
    fetchAllSuppliers() {
      const realApi = `https://dispatch.eotl.supply/api/`;
      const mockApi = `http://localhost:8080/mock-data/`;
      const param = "suppliers.json";
      const api = mockApi;

      fetch(`${api}${param}`)
        .then((response) => response.json())
        .then((response) => (this.allSuppliers = response))
        .catch((error) => {
          console.error("Fetch Error:", error);
        });
    },
  },
  computed: {
    supplierInfo() {
      return this.allSuppliers.filter((supplier) =>
        supplier.id.includes(`${this.$route.params.supplierId}`)
      )[0];
    },
  },
};
</script>
