<template>
  <b-list-group class="mb-5">
    <b-list-group-item
      variant="primary"
      v-for="(supplier, index) in suppliers"
      :key="index"
      :to="{ name: 'Supplier', params: { supplier: supplier } }">
      <img src="">
      <a v-bind:href="'/suppliers/' + supplier.id">
        {{ supplier.name }}
      </a>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  //suppliers is an array of supplier objects
  props: ["suppliers"]
};
</script>
