<template>
  <b-container id="app">
    <b-nav pills class="mb-3 border-bottom border-light">
      <b-nav-item to="/">Sign In/Register</b-nav-item>
      <b-nav-item to="/orders">Orders</b-nav-item>
      <b-nav-item to="/suppliers">Suppliers</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
    </b-nav>
    <router-view />
  </b-container>
</template>
